html, body {
	margin:0px;
}

#canvas {
	float: left;
}

#toolbar {
	float: left;
	width: 110px;
	background-color: grey;
	padding: 5px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

#toolbar input[type="number"] {
	width: 50px;
}

#layerinfo {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#layer-label {
	font-size: 14px;
	border-style: solid;
	border-width: 1px;
	padding: 1px;
	margin-top: 0px;
	margin-bottom: 5px;
}